<!DOCTYPE html>
<html>
  <head>
    <title>RailsGroceryList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
      <%= link_to "Add a List", "new_list_path" %>
      <%= link_to "All Lists", "lists_path" %>
      <% end %>

    <%= yield %>
  </body>
</html>
